* {
  padding: 0;
  margin: 0;
}

.container {
  height: 624px;
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto 0;
  flex-direction: column;
  justify-content:space-between;
  align-content:flex-end;
  align-items:center;
  /* align-content: end; */
}
.flex-item {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
  /* flex-basis: 33.3%; */
  height: 120px;
  position: relative;
}
.inner {
  width: 150px;
  height: 150px;
  background: yellow;
  border: 5px solid pink;
  position: absolute;
  left: 36px;

}
.green {
  background: rgb(7, 146, 16);
  width: 240px;
  height: 100px;
  border: 10px solid rgb(255, 255, 255);
}
.yellow {
  background: rgb(225, 173, 18);
  width: 240px;
  height: 100px;
  border: 10px solid rgb(255, 255, 255);
}
.red {
  background: rgb(171, 9, 23);
  width: 240px;
  height: 100px;
  border: 10px solid rgb(255, 255, 255);
}
