* {
  margin: 0;
  padding: 0;
}

/* body of the container */
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

/* header */
.header_wrapper {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  font-weight: 200px;
  font-size: 0.75em;
}

/* nav */
.ul_wrapper {
  width: 969px;
  margin: 0px auto;
}

/* unorder list one */
.Lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* giving image size in header */
.header_wrapper img {
  width: 18px;
}

/* giving color and decoration for anchor */
.Lists a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

/* applying hover in unorder list */
.Lists a:hover {
  color: whitesmoke;
  opacity: 1;
}

/* for main-hight-wrapper */
.main-highlight-wrapper {
  background-color: rgb(250, 250, 250);
  text-align: center;
  padding: 25px 0;
}

.links-wrapper ul {
  list-style: none;
}
.model {
  font-size: 0.85em;
}
.product_title {
  font-weight: 700;
  font-size: 56px;
}
.brief-description {
  font-size: 2em;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/* Iphone pro */
.second-highlight-wrapper {
  background-image: url("../Resources/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}

/* Title for iphone pro */
.title-wraper {
  font-weight: 600;
  font-size: 56px;
}

/* decription iphone pro */
.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}

/* price for iphone pro */
.price-wrapper {
  color: #86868b;
  font-size: 0.85em;
}

.thrid-highlight-wrapper {
  background-image: url(../Resources/home/iphone11-bg.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 65px 20px;
}

/*Fourth Highlight Section */
.fourth-heghlight-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.left-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.fourth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../Resources/home/watch-series-5.jpg");
}
.right-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
}
.fourth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../Resources/home/apple-card.jpg");
}
.description-wraper {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
}

/*Fivth Highlight Section */
.fifth-heghlight-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.fifth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../Resources/home/apple-tv-background.jpg");
}
.fifth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../Resources/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
}
.logo-wrapper {
  font-size: 40px;
  font-weight: bold;
}
.tvshow-logo-wraper {
  padding: 180px 0 200px;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
/*Sixth Highlight Section */
.sixth-heghlight-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 10px;
}
.sixth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../Resources/home/macbook-pro.jpg");
  background-size: initial;
  background-color: #fafafa;
  background-position: bottom;
}
.sixth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../Resources/home/new-ipad.jpg");
}
.product-title-small {
  font-weight: 700;
  font-size: 45px;
}

.footer-wrapper {
  background-color: #f5f5f7;
  padding-bottom: 33px;
}

.internal-wrapper {
  width: 969px;
  margin: 0 auto;
  padding-top: 19px;
  font-size: 13px;
  color: rgb(146, 146, 150);
}

.internal-wrapper a {
  text-decoration: none;
  color: rgb(146, 146, 150);
}

hr {
  margin: 13px 0;
  height: 1px;
  border: none;
  border-top: 1px solid #ccc;
}

.footer-links-wrapper {
  justify-content: space-between;
  display: flex;
}

.footer-links-wrapper h3 {
  font-size: 0.7rem;
  color: rgb(110, 110, 110);
}

.footer-links-wrapper a {
  font-size: 0.7rem;
  color: rgb(125, 125, 125);
}

.footer-links-wrapper ul {
  text-decoration: none;
  list-style: none;
}

.my-apple-wrapper {
  padding-top: 33px;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
}

.copyright-wrapper ul {
  list-style: none;
  display: flex;
}

.footer-country {
  display: flex;
}

hr.vertical {
  border: none;
  border-left: 1px solid #7a7a7a;
  height: 13px;
  display: inline-block;
  margin: 0 5px;
}

.my-apple-wrapper a {
  text-decoration: underline;
  color: #06c;
}
